@import 'https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap'

$font: 'Mirza', monosapce
$bit: 1.2rem

*
    line-height: 125%
    font:
        family: $font
        size: $bit


.App,
.input,
header
    display: flex

.App
    height: 100vh
    width: clamp(50%, 80%, 85%)
    margin: 0 auto
    flex-flow: column nowrap
    align-items: center

h1
    font-size: 3em

h2
    font-size: 2em

header
    flex: 2
    align-items: flex-end

footer
    flex: 0

form
    flex: 3

.input
    flex-flow: row nowrap
    align-items: center
    gap: $bit

    label
        flex: 3

    input,
    button
        flex: 0
        padding-block: 0
        padding-inline: 0
        padding: 0.2em 0.2em
        vertical-align: center

