/*
    use normalize as reset for elements
    https://www.geeksforgeeks.org/css/normalize-css/
    
    */
@import '../node_modules/normalize.css/normalize' 


/*
    SASS VARIABLES
    */
$bit: 1em


/*
    PAGE ELEMENT CLASSES
    */

.grid
    display: flex

.App
    width: auto
    height: 100vh
    flex-flow: column nowrap

.head
    align-items: center
    flex: 1
    header
        flex: 0 50%
        background: red

.foo
    flex: 0
    footer
        flex: 1

        p
            text-align: center



.content
    flex: 2


/*
    COMMONG STYLING
    
    */

.App,  
.head,
.content,
.foo
    @extend .grid

.head,
.content,
.foo
    justify-content: center
    padding: $bit

